*{
    box-sizing: border-box;
}
.fondo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(80, 80, 80, 0.5)
    ) 
    ,url("/assets/img/AdobeStock_570151844_Preview.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.titulo_telovendo{
    color: #ffffff;
    height: 90vh;
    padding-top: 6em;
    font-size: 3em;
}

.device{
    width: 8em;
    height: 8em;
}
.intro{
    text-align: justify;
}